.btn, .btn__disabled {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 0 5px;
    height: 40px;
    font-weight: 600;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: rgba(33, 38, 143, 0.8);
}

.btn {
    border-color: #21268F;
    color: #fff;
    background-image: linear-gradient(45deg, #21268F 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 1s ease-in-out;
    transition: background 1s ease-in-out;
}

.btn__disabled {
    background-color: #adb5bd;
    color: #232328;
}

.btn:hover {
    background-position: 0;
}
