.container {
    margin: 20px 5px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-width: 320px;
    min-height: 550px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 10px 20px 100px 80px rgba(0, 0, 0, 0.02), 0 64px 46px rgba(0, 0, 0, 0.0151852), 0 38px 25px rgba(0, 0, 0, 0.0121481), 0 20px 13px rgba(0, 0, 0, 0.01), 0 8px 6px rgba(0, 0, 0, 0.00785185), 0 1px 3px rgba(0, 0, 0, 0.00481481);
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container p {
    font-size: 18px;
    font-weight: 500;
}
.container h1 {
    font-size: 24px;
    font-weight: 700;
}
.container span img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.container >*:not(:last-child) {
    margin-bottom: 30px;
}
.container form >*:not(:last-child) {
    margin-bottom: 20px;
}
.error {
    color: #fa4545;
}