.row__cards, .row__packs {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    border-bottom: 2px solid rgba(134, 133, 133, 0.48);
}

.row__packs > * {
    flex: 0 0 25%;
    font-size: 18px;
    font-weight: 500;
}
.row__cards > * {
    flex: 0 0 20%;
    font-size: 18px;
    font-weight: 500;
}

.link img {
    width: 20px;
    height: 20px;
    justify-content: center;
}
