.things {
    position: relative;
    height: 150px;
    width: 70%;
}
.arrow__body {
    position: absolute;
    right: 0;
    bottom: -50px;
}
.things > .content {
    position: relative;
}

.things > .content h1 {
    line-height: 1.3;
    width: 200px;
    font-size: 20px;
    right: 180px;
    top: 30px;
    position: absolute;
}

/* Arrow */

.arrow {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100px;
    transform: rotate(240deg);
}

.arrow .curve {
    border: 3px solid #21268F;
    border-color: transparent transparent transparent #21268F;
    height: 360px;
    width: 1200px;
    border-radius: 230px 0 0 150px;

}

.arrow .point {
    position: absolute;
    left: 40px;
    top: 315px;
}

.arrow .point:before, .arrow .point:after {
    border: 2px solid #21268F;
    height: 25px;
    content: "";
    position: absolute;
}

.arrow .point:before {
    top: -11px;
    left: -11px;
    transform:rotate(-74deg);
}

.arrow .point:after {
    top: -20px;
    left: 5px;
    transform:rotate(12deg);
}