.input__body {
    position: relative;
    min-width: 200px;
}
.input {
    margin: 5px 0;
    min-width: 200px;
    min-height: 20px;
    background-color: #ffffff;
    font-size: 18px;
    padding:5px 30px 10px 0;
    border-bottom: 1px solid #3a3a3a;
}
.show {
    position: absolute;
    right: 0;
    top: 25%;
    width: 20px;
    height: 20px;
}