.row__cards, .row__packs {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(134, 133, 133, 0.48);
    line-height: 1.3;
    word-break: break-all;
}

.row__cards > *:not(:first-of-type), .row__packs > *:not(:first-of-type) {
    text-align: center;
}

.row__packs > * {
    flex: 0 0 24.9%;
}

.row__cards > * {
    flex: 0 0 19.9%;
}

.row__packs > :first-child, .row__cards > :first-child {
    font-weight: 500;
    cursor: pointer;
}

.link, .disabled__link {
    background-color: rgba(255, 255, 255, 0);
    margin-right: 10px;
}

.link img, .disabled__link img {
    height: 30px;
    width: 30px;
}

.disabled__link {
    opacity: .5;
    cursor: default;
}