.row {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(134, 133, 133, 0.48);
}

.row > *:not(:first-of-type) {
    text-align: center;
}

.row > * {
    flex: 0 0 24.5%;
}

.row > :first-child {
    font-weight: 500;
}

.link {
    background-color: rgba(255, 255, 255, 0);
    margin-right: 10px;
}

.link img {
    height: 30px;
    width: 30px;
}