.range {
    position: relative;
    padding-bottom: 30px;
}

.min, .max {
    padding: 6px;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #f4faff;
    border: 1px solid rgba(33, 38, 143, 0.53);
    border-radius: 50%;
}

.min {
    left: -5px;
    bottom: -10px;
}

.max {
    right: -5px;
    bottom: -10px;
}

.text {
    font-size: 12px;
    position: absolute;
    bottom: 0;
    right: 15%;
}