@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #0a0a0a;
    background: linear-gradient(180deg, #E6D6D4 0%, #9890C7 100%);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

:focus, :active, :hover {
    outline: none;
}

a, a:visited, a:focus, a:active, a:hover {
    outline: none;
    text-decoration: none;
}

html, body {
    height: 100%;
    width: 100%;
    line-height: 1;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

input, button, textarea {
    font-family: inherit;
}

button {
    cursor: pointer;
}

ol, ul, li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
